/* FONT */
@font-face {
    font-family: 'Cabin';
    src:url('CabinSemiCondensed-Regular.ttf') format('truetype');
}

.success,
.error {
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

body {
    font-family: 'Cabin', sans-serif;
}